In [1]:
import os
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt

In [ ]:
os.getcwd()

In [2]:
os.chdir('/Users/Sophie/Documents/02_Study/01_Programming_DataAnalysis/00_HSLU_MasterDataScience/00_Courses/07_AMS/Project')
os.getcwd()

'/Users/Sophie/Documents/02_Study/01_Programming_DataAnalysis/00_HSLU_MasterDataScience/00_Courses/07_AMS/Project'

## Load data

In [3]:
df = pd.read_excel('European_electricity_network_vFinal.xlsx', sheet_name='2018')
df.head()

,Origin_Country,Country_Code,AL,AT,BA,BE,BG,CH,CZ,DE,...,NL,NO,PL,PT,RO,RS,SE,SI,SK,TR
0,Albania,AL,NaN,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,880.0,0.0,0.0,0.0,0.0
1,Austria,AT,0.0,NaN,0.0,0.0,0.0,5595,112.0,4079.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4096.0,0.0,0.0
2,Bosnia and Herzegovina,BA,0.0,0.0,NaN,0.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,488.0,0.0,0.0,0.0,0.0
3,Belgium,BE,0.0,0.0,0.0,NaN,0.0,0,0.0,0.0,...,1776.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Bulgaria,BG,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1213.0,2305.0,0.0,0.0,0.0,2058.0

In [4]:
df_elec = df.drop(['Origin_Country'], axis=1)
df_elec.head()

,Country_Code,AL,AT,BA,BE,BG,CH,CZ,DE,DK,...,NL,NO,PL,PT,RO,RS,SE,SI,SK,TR
0,AL,NaN,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,880.0,0.0,0.0,0.0,0.0
1,AT,0.0,NaN,0.0,0.0,0.0,5595,112.0,4079.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4096.0,0.0,0.0
2,BA,0.0,0.0,NaN,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,488.0,0.0,0.0,0.0,0.0
3,BE,0.0,0.0,0.0,NaN,0.0,0,0.0,0.0,0.0,...,1776.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,BG,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1213.0,2305.0,0.0,0.0,0.0,2058.0

## Sort and clean up data

In [5]:
# Convert the wide table to long table
Country_list = list(df_elec.columns)
df_elec = df_elec.melt(id_vars=['Country_Code'], value_vars=(Country_list[1:]), var_name='Destination', value_name='Electricity_Flow')
df_elec.rename(columns={'Country_Code':'Origin'}, inplace=True)
df_elec.head()

  Origin Destination  Electricity_Flow
0     AL          AL               NaN
1     AT          AL               0.0
2     BA          AL               0.0
3     BE          AL               0.0
4     BG          AL               0.0

In [6]:
# Sort the table based on origin country's name
df_elec.sort_values('Origin', inplace=True, ascending=True)
df_elec.reset_index(drop=True, inplace=True)

# Delete NAs (when Origin=Destination)
df_elec.dropna(axis=0, inplace=True) 

# Delete zero-value rows
df_elec = df_elec[df_elec.Electricity_Flow != 0]
df_elec.head()

   Origin Destination  Electricity_Flow
12     AL          GR            1061.0
20     AL          ME             742.0
27     AL          RS             880.0
39     AT          SI            4096.0
40     AT          DE            4079.0

In [7]:
test = df_elec.set_index(['Origin', 'Destination', 'Electricity_Flow'])
edges = test.index.tolist()
edges

[('AL', 'GR', 1061.0),
 ('AL', 'ME', 742.0),
 ('AL', 'RS', 880.0),
 ('AT', 'SI', 4096.0),
 ('AT', 'DE', 4079.0),
 ('AT', 'CH', 5595.0),
 ('AT', 'IT', 1422.0),
 ('AT', 'CZ', 112.0),
 ('AT', 'HU', 3753.0),
 ('BA', 'RS', 488.0),
 ('BA', 'HR', 5963.0),
 ('BA', 'ME', 1246.0),
 ('BE', 'FR', 2186.0),
 ('BE', 'LU', 351.0),
 ('BE', 'NL', 1776.0),
 ('BG', 'RO', 1213.0),
 ('BG', 'TR', 2058.0),
 ('BG', 'RS', 2305.0),
 ('BG', 'GR', 2120.0),
 ('BG', 'MK', 2333.0),
 ('CH', 'AT', 1199.0),
 ('CH', 'IT', 22540.0),
 ('CH', 'DE', 3864.0),
 ('CH', 'FR', 4091.0),
 ('CZ', 'SK', 9078.0),
 ('CZ', 'DE', 4903.0),
 ('CZ', 'PL', 633.0),
 ('CZ', 'AT', 10845.0),
 ('DE', 'SE', 480.0),
 ('DE', 'DK', 5818.0),
 ('DE', 'AT', 16336.0),
 ('DE', 'NL', 20913.0),
 ('DE', 'CZ', 7580.0),
 ('DE', 'PL', 7054.0),
 ('DE', 'CH', 16092.0),
 ('DE', 'FR', 2536.0),
 ('DE', 'LU', 5865.0),
 ('DK', 'SE', 3387.0),
 ('DK', 'DE', 4421.0),
 ('DK', 'NO', 2605.0),
 ('EE', 'LV', 3252.0),
 ('EE', 'FI', 884.0),
 ('ES', 'FR', 3460.0),
 ('ES', 'PT', 5669.0),
 ('FI', 'SE', 984.0),
 ('FI', 'NO', 72.0),
 ('FI', 'EE', 2403.0),
 ('FR', 'GB', 14262.0),
 ('FR', 'LU', 1299.0),
 ('FR', 'IT', 15381.0),
 ('FR', 'BE', 10765.0),
 ('FR', 'DE', 10980.0),
 ('FR', 'ES', 15509.0),
 ('FR', 'CH', 7593.0),
 ('GB', 'FR', 388.0),
 ('GB', 'IE', 1614.0),
 ('GB', 'NL', 187.0),
 ('GR', 'MK', 254.0),
 ('GR', 'IT', 1076.0),
 ('GR', 'BG', 7.0),
 ('GR', 'AL', 918.0),
 ('GR', 'TR', 10.0),
 ('HR', 'SI', 4774.0),
 ('HR', 'HU', 725.0),
 ('HR', 'BA', 986.0),
 ('HR', 'RS', 48.0),
 ('HU', 'RO', 588.0),
 ('HU', 'RS', 271.0),
 ('HU', 'SK', 60.0),
 ('HU', 'HR', 2750.0),
 ('HU', 'AT', 591.0),
 ('IE', 'GB', 1643.0),
 ('IT', 'AT', 23.0),
 ('IT', 'CH', 1140.0),
 ('IT', 'FR', 806.0),
 ('IT', 'SI', 58.0),
 ('IT', 'GR', 611.0),
 ('LT', 'PL', 1615.0),
 ('LT', 'LV', 723.0),
 ('LT', 'SE', 222.0),
 ('LU', 'BE', 103.0),
 ('LU', 'DE', 1246.0),
 ('LV', 'LT', 4218.0),
 ('LV', 'EE', 51.0),
 ('ME', 'BA', 1101.0),
 ('ME', 'AL', 768.0),
 ('ME', 'RS', 1142.0),
 ('MK', 'RS', 371.0),
 ('MK', 'GR', 1853.0),
 ('NL', 'NO', 322.0),
 ('NL', 'DE', 735.0),
 ('NL', 'GB', 6757.0),
 ('NL', 'BE', 10783.0),
 ('NO', 'SE', 8787.0),
 ('NO', 'NL', 3943.0),
 ('NO', 'DK', 5036.0),
 ('NO', 'FI', 188.0),
 ('PL', 'SE', 375.0),
 ('PL', 'LT', 718.0),
 ('PL', 'DE', 21.0),
 ('PL', 'SK', 3236.0),
 ('PL', 'CZ', 3761.0),
 ('PT', 'ES', 8324.0),
 ('RO', 'RS', 1796.0),
 ('RO', 'HU', 1042.0),
 ('RO', 'BG', 2083.0),
 ('RS', 'MK', 1558.0),
 ('RS', 'BA', 1004.0),
 ('RS', 'BG', 38.0),
 ('RS', 'AL', 85.0),
 ('RS', 'HR', 1798.0),
 ('RS', 'RO', 222.0),
 ('RS', 'ME', 772.0),
 ('RS', 'HU', 1226.0),
 ('SE', 'DK', 4752.0),
 ('SE', 'PL', 3099.0),
 ('SE', 'LT', 2874.0),
 ('SE', 'DE', 1293.0),
 ('SE', 'FI', 14473.0),
 ('SE', 'NO', 5071.0),
 ('SI', 'IT', 6740.0),
 ('SI', 'AT', 399.0),
 ('SI', 'HR', 2181.0),
 ('SK', 'CZ', 109.0),
 ('SK', 'HU', 6813.0),
 ('SK', 'PL', 27.0),
 ('TR', 'BG', 93.0),
 ('TR', 'GR', 2908.0)]

## Create the network

In [22]:
#D=nx.read_weighted_edgelist(df_elec, create_using=nx.DiGraph())
#D = nx.from_pandas_adjacency(df_elec, create_using=nx.DiGraph())

In [9]:
# trial - network with nodes without weights
df_elec_country = df_elec[['Origin', 'Destination']]
df_elec_country.head()

G = nx.DiGraph()
G = nx.from_pandas_edgelist(df_elec_country, 'Origin', 'Destination')

In [ ]:
from matplotlib.pyplot import figure

figure(figsize=(10,8))
nx.draw_shell(G, with_labels=True)

In [ ]:
G2 = nx.DiGraph()
G2 = nx.from_pandas_edgelist(df_elec, source='Origin', target='Destination', create_using=nx.DiGraph())

In [ ]:
figure(figsize=(10,8))
nx.draw(G2, with_labels=True)

In [ ]:
G3 = nx.DiGraph()
G3 = G3.add_weighted_edges_from(edges)

figure(figsize=(10,8))
nx.draw(G3, with_labels=True)

In [ ]:
net_elec = nx.from_pandas_adjacency(df, create_using=nx.DiGraph())

In [ ]:
plt.subplot(121)
nx.draw(net_elec, with_labels=True, font_weight='bold')